body {
	font-family: Arial, sans-serif;	
}

img {
	display: block;
	width: 100%;
	border: 1px solid transparent;
}

img:hover {
	box-shadow: 0 4px 20px #666;

}

.title {
	padding: 10px 0;
	font-size: 13px; 	
}

.content {
	padding: 0;
	text-align: center;	
}